@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root {
    --black: #121212;
    --white: #FFFFFF;
    --backgroundColor: #E5E5E5;
    --buttonBg: #E4C1AE;
    --bodyFont: "Roboto", sans-serif;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
  }

body {
    font-family: var(--bodyFont);
    background: var(--backgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.6rem;
}

main {
    max-width:1440px;
    display: flex;
    margin-top:96px;

    .rightSide {
        margin-left: 95px;
        display: flex;
        align-items: center;

        .centerRightSide {
            max-width: 380px;
            h1{
                font-weight: 700;
                font-size: 4.2rem;
                padding-bottom:24px;
            }

            p{
                padding-bottom:32px;
                line-height: 24px;
            }

            .modalButton{
                background-color: var(--buttonBg);
                color:var(--white);
                padding:16px 40px;
                border-radius: 32px;
                border:none;
                font-weight: 700;

                &:focus{
                    outline: 1px solid black;
                }
            }
        }
    }
}