@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root {
    --black: #121212;
    --white: #FFFFFF;
    --buttonBg: #E4C1AE;
    --bodyFont: "Roboto", sans-serif;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

  }

body {
    font-family: var(--bodyFont);
    background: var(--white);
    display: flex;
    justify-content: center;
    font-size:1.6rem;

    h1{
        font-weight: 700;
        font-size: 4.2rem;
    }
}

main {
    max-width:1440px;
    display: flex;
    margin-top:96px;

    .rightSide {
        margin-left: 95px;
        display: flex;
        align-items: center;

        .centerRightSide {
            max-width: 380px;

            p{
                padding-top:24px;
                padding-bottom:32px;
                line-height: 24px;
            }

            .modalButton{
                background-color: var(--buttonBg);
                color:var(--white);
                padding:16px 40px;
                border-radius: 32px;
                border:none;
                font-weight: 700;

                &:hover{
                    outline: 1px solid black;
                }
            }
        }
    }
}

.modalSection {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 300px; //need to change to proper center modal (temporary solution)
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

    .modalContent {
        background-color: var(--white);
        margin: auto;
        max-width: 920px;
        max-height: 210px;

        p{
            font-size: 1.6rem;

            span{
                font-weight: bold;
            }
        }

        .closeModal {
            color: var(--black);
            text-align: right;
            font-size: 2.4rem;

            &:hover {
                color: var(--black);
                cursor: pointer;
            }
        }
    }
  }